{{!-- Handlebars page for the homepage --}}
{{!-- Will display all posts with content but no comments --}}

{{#each posts}}
<div class="row mb-4 card card-rounded center">
  <div class="col-md-12 card-header text-center">
    <h3>
      <a href="/post/{{id}}">{{title}}</a>
    </h3>
  </div>
  <div class="col-md-12 card-body">
    <p class="text-right">Posted by {{user.name}} on {{format_date date_created}}</p>
    <p>{{content}}</p>
  </div>
</div>
{{/each}}